<robot name="simple_box" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <property name="box_x" value="0.0"/>
  <property name="box_y" value="0.0"/>
  <property name="box_z" value="0.0"/>
  <property name="box_w" value="0.06"/>
  <property name="box_d" value="0.3"/>
  <property name="box_h" value="0.12"/>

  <xacro:macro name="cuboid_inertia" params="width height length mass">
    <inertia ixx="${mass * (height * height + length * length) / 12}" ixy="0" ixz="0" iyy="${mass * (width * width + length * length) / 12}" iyz="0" izz="${mass * (width * width + height * height) / 12}"/>
  </xacro:macro>

  <link name="my_box">
    <inertial>
      <origin xyz="${box_x} ${box_y} ${box_z}"/>
      <mass value="0.1"/>
      <cuboid_inertia height="${box_d}" length="${box_h}" mass="0.1" width="${box_w}"/>
    </inertial>

    <visual>
      <origin xyz="${box_x} ${box_y} ${box_z}"/>
      <geometry>
        <box size="${box_w} ${box_d} ${box_h}"/>
      </geometry>

    </visual>
    <collision>
      <origin xyz="${box_x} ${box_y} ${box_z}"/>
      <geometry>
        <box size="${box_w} ${box_d} ${box_h}"/>
      </geometry>
      <surface>

      </surface>
    </collision>
  </link>

  <gazebo reference="my_box">
    <material>Gazebo/Red</material>
<!--<turnGravityOff>false</turnGravityOff>-->
    <kp>1e+07</kp>
    <kd>1e+05</kd>
    <max_vel>0.1</max_vel>
    <min_depth>0.001</min_depth>

  </gazebo>
</robot>
